.modalWrapper{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  content: ' ';
  z-index: 5;
  backface-visibility: hidden;
  background-color: rgba(0,0,0,0.5);
  .box{
    width: 300px;
    height: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: white;
    background-color: rgb(102, 24, 160);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(174, 112, 226);
    font-family: "Roboto Mono";
    font-size: 18px;
    .close{
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 15px;
    }
  }
}
